body {
    text-align: center;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

canvas {
    background: #111;
    border: 3px solid lime;
    margin-top: 20px;
    box-shadow: 0 0 20px #0f0 inset, 0 0 30px #0f0;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    background: lime;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 5px #0f0;
}

#gameOver {
    margin-top: 20px;
    color: red;
    font-size: 24px;
    text-shadow: 2px 2px #000;
}
